numpy==2.2.3
packaging==24.2
pillow>=10.0.1,<10.1
platformdirs==4.3.6
pytest==8.3.5
scipy==1.15.2
ttkbootstrap==1.11.0
scikit-image==0.25.2
imageio==2.37.0
h5py==3.13.0
jupyter==1.1.1
pip==24.3.1
attrs==25.3.0
altgraph==0.17.4
macholib==1.16.3
setuptools==78.1.0
typing_extensions==4.13.0
Pygments==2.19.1
pyinstaller==6.12.0
psutil==7.0.0
traitlets==5.14.3
jupyter_core==5.7.2